.transactionRecord:nth-of-type(1){
	background-color: black;
	color: white;
	font-weight: bold;
}
.transactionRecord{
	display: flex;
	border-bottom: 1px solid black;
	width: 100%;
}
.transactionRecord > * {
	border-right: 1px solid black;
	padding-left: .5%;
}
.transactionType{
	width: 15%;
}
.transactionLocation{
	width: 60%;
}
.transactionAmount{
	width: 25%;
}
